@*ASPNetr-yanWorks*@
@page "/saletransactions/create"
@inject HttpClient _client
@inject NavigationManager _navManager
@using Sellora.Client.Components

<div class="saletransaction-topbar">
    <h2 class="saletransaction-title">Create Sale Transaction</h2>
    <BackToList Target="saletransactions" />
</div>

<div style="border-bottom:solid black 1px; padding-top:3px; margin-bottom:10px;">
    @*FOR SPACING*@
</div>

<FormComponent ButtonText="Create Sale Transaction" saletransaction="saletransaction" OnValidSubmit="@CreateSaleTransaction" />

@code {
    SaleTransaction saletransaction = new SaleTransaction();

    private IList<AppUser>? AppUsers;
    private IList<Item>? Items;

    protected async override Task OnInitializedAsync()
    {
        AppUsers = await _client.GetFromJsonAsync<List<AppUser>>($"{Endpoints.AppUsersEndpoint}");
        Items = await _client.GetFromJsonAsync<List<Item>>($"{Endpoints.ItemsEndpoint}");
    }

    private async Task CreateSaleTransaction()
    {
        await _client.PostAsJsonAsync(Endpoints.SaleTransactionsEndpoint, saletransaction);
        _navManager.NavigateTo("/saletransactions/");
    }
}