@*ASPNetr-yanWorks*@
@page "/reviews/create"
@inject HttpClient _client
@inject NavigationManager _navManager
@using Sellora.Client.Components

<div class="review-topbar">
    <h2 class="review-title">Leave a Review</h2>
    <BackToList Target="reviews" />
</div>

<div style="border-bottom:solid black 1px; padding-top:3px; margin-bottom:10px;">
    @*FOR SPACING*@
</div>

<ReviewFormComponent ButtonText="Submit" review="review" OnValidSubmit="@CreateReview" />


@code {
    Review review = new Review();

    private IList<AppUser>? Users;
    private IList<SwapTransaction>? SwapTransactions;
    private IList<SaleTransaction>? SaleTransactions;

    protected async Task OnIntializedAsync()
    {
        Users = await _client.GetFromJsonAsync<List<AppUser>>($"{Endpoints.AppUsersEndpoint}");
        SwapTransactions = await _client.GetFromJsonAsync<List<SwapTransaction>>($"{Endpoints.SwapTransactionsEndpoint}");
        SaleTransactions = await _client.GetFromJsonAsync<List<SaleTransaction>>($"{Endpoints.SaleTransactionsEndpoint}");
    }

    private async Task CreateReview()
    {
        await _client.PostAsJsonAsync(Endpoints.ReviewsEndpoint, review);
        _navManager.NavigateTo("/reviews/");
    }
}
