@*ASPNetr-yanWorks*@
@page "/reviews/view/{id:int}"
@implements IDisposable
@inject HttpClient _client
@inject NavigationManager _navManager
@inject HttpInterceptorService _interceptor
@attribute [Authorize]

<!-- Page Title -->
<PageTitle>Viewing Review @review.Id</PageTitle>

<!-- Topbar with the title and a back-to-list button -->
<div class="review-topbar">
    <h2 class="review-title">View Review with ID: @review.Id</h2>
    <BackToList Target="reviews" />
</div>

<div style="border-bottom:solid black 1px; padding-top:3px; margin-bottom:10px;">
    <!-- Separator for spacing -->
</div>

<!-- This Generates a Review Formcomponent with Viewing Parameters -->
<ReviewFormComponent review="review" Disabled="true" />

@code {
    <!-- Parameter for receiving the review ID from the URL -->
    [Parameter] public int id { get; set; }

    <!-- Review object to store review details -->
    Review? review = new Review();

    // This runs asynchronously when the component/page is initialised
    protected async override Task OnInitializedAsync()
    {
        // Initialises the interceptor module
        // This monitors HTTP Events for Global Error Handling
        _interceptor.MonitorEvent();
    }

    // This runs asynchronously when the parameters are initialised
    protected async override Task OnParametersSetAsync()
    {
        // This fetches data from Server Endpoints using HttpClient
        review = await _client.GetFromJsonAsync<Review>($"{Endpoints.ReviewsEndpoint}/{id}");
    }

    // Disposes of resources when the component is disposed
    public void Dispose()
    {
        // This disposes of global error handling events
        _interceptor.DisposeEvent();
    }
}