@*ASPNetr-yanWorks*@
@page "/staffs/edit/{id:int}"
@implements IDisposable
@inject HttpClient _client
@inject NavigationManager _navManager
@inject HttpInterceptorService _interceptor
@attribute [Authorize(Roles = "Administrator")]

<!-- Page Title -->
<PageTitle>Editing Staff @staff.Id</PageTitle>

<!-- Topbar with the title and a back-to-list button -->
<div class="staff-topbar">
    <h2 class="staff-title">Edit Staff with ID: @staff.Id</h2>
    <BackToList Target="staffs" />
</div>

<div style="border-bottom:solid black 1px; padding-top:3px; margin-bottom:10px;">
    <!-- Separator for spacing -->
</div>

<!-- This Generates a Staff Form Component with Updating Parameters -->
<StaffFormComponent ButtonText="Update" OnValidSubmit="EditStaff" staff="staff"/>

@code {
    // Parameter for receiving the staff ID from the URL
    [Parameter] public int id { get; set; }

    // An instance of the Staff class to store staff information
    Staff? staff = new Staff();

    // This runs asynchronously when the component/page is initialised
    protected async override Task OnInitializedAsync()
    {
        // Initialises the interceptor module
        // This monitors HTTP Events for Global Error Handling
        _interceptor.MonitorEvent();
    }

    // This runs asynchronously when the parameters are initialised
    protected async override Task OnParametersSetAsync()
    {
        // This fetches data from Server Endpoints using HttpClient
        staff = await _client.GetFromJsonAsync<Staff>($"{Endpoints.StaffsEndpoint}/{id}");
    }

    // Method to Update Staff Information, this will navigate users back to the staffs page when complete
    async Task EditStaff()
    {
        // Send a PUT request to update the staff on the server
        await _client.PutAsJsonAsync($"{Endpoints.StaffsEndpoint}/{id}", staff);

        // Navigate back to the staffs page after successful update
        _navManager.NavigateTo("/staffs/");
    }

    // Disposes of resources when the component is disposed
    public void Dispose()
    {
        // This disposes of global error handling events
        _interceptor.DisposeEvent();
    }
}
