.staff-title {
    font-weight: bold;
    font-family: 'Microsoft Sans Serif';
    letter-spacing: 1px;
    flex: 1;
}

.staff-topbar {
    display: flex;
    position: relative;
    align-items: center;
}

.col-sm {
    display:flex;
    float:right;
}

.dataTables_filter {
    display:flex;
    flex:1;
    float:right;
}

body {
}
