@page "/staffs/create"
@inject HttpClient _client
@inject NavigationManager _navManager
@using Sellora.Client.Components

<div class="staff-topbar">
    <h2 class="staff-title">Create Staff</h2>
    <BackToList Target="staffs" />
</div>

<div style="border-bottom:solid black 1px; padding-top:3px; margin-bottom:10px;">
    @*FOR SPACING*@
</div>

<StaffFormComponent ButtonText="Create Staff" staff="staff" OnValidSubmit="@CreateStaff" />

@code {
    Staff staff = new Staff();

    private async Task CreateStaff()
    {
        await _client.PostAsJsonAsync(Endpoints.StaffsEndpoint, staff);
        _navManager.NavigateTo("/staffs/");
    }
}
