@page "/items/create/"
@inject HttpClient _client
@inject NavigationManager _navManager
@using Sellora.Client.Components

<div class="item-topbar">
    <h2 class="item-title">Create Item</h2>
    <BackToList Target="items" />
</div>

<div style="border-bottom:solid black 1px; padding-top:3px; margin-bottom:10px;">
    @*FOR SPACING*@
</div>

<FormComponent ButtonText="Create Item" item="item" OnValidSubmit="@CreateItem" />

@code {
    Item item = new Item();

    private IList<AppUser>? AppUsers;
    private IList<Category>? Categories;

    protected async override Task OnInitializedAsync()
    {
        AppUsers = await _client.GetFromJsonAsync<List<AppUser>>($"{Endpoints.AppUsersEndpoint}");
        Categories = await _client.GetFromJsonAsync<List<Category>>($"{Endpoints.CategoriesEndpoint}");
    }

    private async Task CreateItem()
    {
        await _client.PostAsJsonAsync(Endpoints.ItemsEndpoint, item);
        _navManager.NavigateTo("/items/");
    }

}
