.review-title {
    font-weight: bold;
    font-family: 'Microsoft Sans Serif';
    letter-spacing: 1px;
    flex: 1;
}

.review-topbar {
    display: flex;
    position: relative;
    align-items: center;
}

.review-box {
    background-color: #D5D5D5;
    border-radius: 10px;
    display: flex;
    margin-bottom: 10px;
}

.review-box-innercontainer1 {
    padding-top: 15px;
    padding-bottom: 0px;
    max-width: 40vw;
    flex: 1;
}

.review-box-innercontainer2 {
    padding-top: 15px;
    padding-bottom: 0px;
    flex: 2;
}

.review-box-title {
    margin-left: 16px;
    font-family: 'Microsoft Sans Serif';
    font-weight: bold;
    letter-spacing: 1px;
}

.review-box-swaptransaction-container {
    display: flex;
    margin: 0px 30px 20px;
}

.review-box-itemname-container {
    display: flex;
    text-align: center;
    justify-content: center;
    min-width: 13em;
    max-width: 13em;
    min-height: 3em;
    max-height: 3em;
    font-size: 15px;
    font-family: 'Microsoft Sans Serif';
    font-weight: bold;
    letter-spacing: 1px;
}

.review-box-itemimage-container {
    margin: 5px 0px;
    text-align: center;
    max-width: 13em;
    min-width: 13em;
    font-size: 15px;
    font-family: 'Microsoft Sans Serif';
    font-weight: bold;
    letter-spacing: 1px;
}

.review-box-username-container {
    display: flex;
    text-align: center;
    justify-content: center;
    min-width: 13em;
    max-width: 13em;
    font-size: 15px;
    font-family: 'Microsoft Sans Serif';
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 16px;
}

.review-box-swapsymbol-container {
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-box-details {
    margin-left: 16px;
    margin-bottom: 7px;
    font-size: 15px;
    font-family: 'Microsoft Sans Serif';
    font-weight: bold;
    color: #686868;
}

.review-box-content {
    margin-left: 16px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.review-box-control-container {
    padding: 15px;
    display: block;
}

.review-box-detail-button {
    padding-left: 10px;
    padding-right: 10px;
}

.review-box-control-bottom {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

body {
}
