@*ASPNetr-yanWorks*@
@page "/swaptransactions/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
@using Sellora.Client.Components
@attribute [Authorize]

<PageTitle>Viewing Swap Transaction @swaptransaction.Id</PageTitle>

<div class="swaptransaction-topbar">
    <h2 class="swaptransaction-title">View Swap Transaction with ID: @swaptransaction.Id</h2>
    <BackToList Target="swaptransactions" />
</div>

<div style="border-bottom:solid black 1px; padding-top:3px; margin-bottom:10px;">
    @*FOR SPACING*@
</div>

<SwapTransactionFormComponent swaptransaction="swaptransaction" Disabled="true" />

@code {
    [Parameter] public int id { get; set; }

    SwapTransaction? swaptransaction = new SwapTransaction();

    protected async override Task OnParametersSetAsync()
    {
        swaptransaction = await _client.GetFromJsonAsync<SwapTransaction>($"{Endpoints.SwapTransactionsEndpoint}/{id}");
    }
}