@*ASPNetr-yanWorks*@
@using Sellora.Client.Components
@page "/reports/createreport"
@inject HttpClient _client
@inject NavigationManager _navManager
@inject HttpInterceptorService _interceptor
@implements IDisposable
@attribute [Authorize]

<PageTitle>File a Report</PageTitle>

<div class="report-topbar">
    <h2 class="report-title">File a Report</h2>
    <a href="/" class="btn btn-secondary">
        <span class="oi oi-account-logout" style="margin-top: 4px; margin-bottom:4px;"></span>
    </a>
</div>

<div style="border-bottom:solid black 1px; padding-top:3px; margin-bottom:10px;">
    @*FOR SPACING*@
</div>

<ReportFormComponent ButtonText="Submit" report="report" OnValidSubmit="@CreateReport" />


@code {
    Report report = new Report();

    private IList<AppUser>? Users;
    private IList<Staff>? Staffs;
    private IList<SwapTransaction>? SwapTransactions;
    private IList<SaleTransaction>? SaleTransactions;

    protected async Task OnIntializedAsync()
    {
        _interceptor.MonitorEvent();

        Users = await _client.GetFromJsonAsync<List<AppUser>>($"{Endpoints.AppUsersEndpoint}");
        Staffs = await _client.GetFromJsonAsync<List<Staff>>($"{Endpoints.StaffsEndpoint}");
        SwapTransactions = await _client.GetFromJsonAsync<List<SwapTransaction>>($"{Endpoints.SwapTransactionsEndpoint}");
        SaleTransactions = await _client.GetFromJsonAsync<List<SaleTransaction>>($"{Endpoints.SaleTransactionsEndpoint}");
    }

    private async Task CreateReport()
    {
        await _client.PostAsJsonAsync(Endpoints.ReportsEndpoint, report);
        _navManager.NavigateTo("");
    }

    public void Dispose()
    {
        _interceptor.DisposeEvent();
    }
}
