@*ASPNetr-yanWorks*@
@page "/reports/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
@using Sellora.Client.Components

<div class="report-topbar">
    <h2 class="report-title">View Report with ID: @report.Id</h2>
    <BackToList Target="reports" />
</div>

<div style="border-bottom:solid black 1px; padding-top:3px; margin-bottom:10px;">
    @*FOR SPACING*@
</div>

<ReportFormComponent report="report" Disabled="true" />

@code {
    [Parameter] public int id { get; set; }

    Report? report = new Report();

    protected async override Task OnParametersSetAsync()
    {
        report = await _client.GetFromJsonAsync<Report>($"{Endpoints.ReportsEndpoint}/{id}");
    }
}