.report-title {
    font-weight: bold;
    font-family: 'Microsoft Sans Serif';
    letter-spacing: 1px;
    flex: 1;
}

.report-topbar {
    display: flex;
    position: relative;
    align-items: center;
}

.report-box {
    background-color: #D5D5D5;
    border-radius: 7px;
    display: flex;
    margin-bottom: 10px;
}

.report-box-innercontainer {
    padding-top: 15px;
    padding-bottom: 0px;
    flex: 1;
}

.report-box-title {
    margin-left: 16px;
    font-family: 'Microsoft Sans Serif';
    font-weight: bold;
    letter-spacing: 1px;
}

.report-box-details {
    margin-left: 16px;
    margin-bottom: 7px;
    font-size: 15px;
    font-family: 'Microsoft Sans Serif';
    font-weight: bold;
    color: #686868;
}

.report-box-content {
    margin-left: 16px;
    font-family: 'Microsoft Sans Serif';
}

.report-box-control-container {
    padding: 15px;
    display: block;
}

.report-box-detail-button {
    padding-left: 10px;
    padding-right: 10px;
}

.report-box-control-bottom {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

body {
}
