body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    align-items: center;
    height: 75vh;
}

.number {
    font-size: 130px;
    font-weight: bold;
    font-family:'Microsoft Sans Serif';
    color: #d9534f;
    margin-left:20px;
}

.message {
    font-family: 'Microsoft Sans Serif';
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.back-link {
    text-decoration: none;
    color: #428bca;
    font-weight: bold;
    margin-left: 20px;
}

    .back-link:hover {
        text-decoration: underline;
    }