@page "/500"
<PageTitle>Sellora - ERROR!</PageTitle>
<body>
    <div style="display:flex;">
        <div class="number">
            500
        </div>
        <div style="width:20px;"></div>
        <div>
            <img src="/error.gif" style="width:auto;height:180px;">
        </div>
    </div>
    <div class="message">UwU Oh No! We have an error trying to complete your request!</div>
    <div class="message">Please Try again later.</div>
    <p><a href="" class="back-link">Go back to safety</a></p>
</body>