@page "/About"

<PageTitle>About Sellora</PageTitle>

<body>
    <div class="about-title-container">
        <h1 class="about-title">The Sellora Story</h1>
    </div>
    <div class="about-description-container-container">
        <div class="about-description-container">
            <p class="about-description">
                Welcome to Sellora – where the journey began with a vision and two passionate individuals who believed in the power of technology to create positive change. Born out of the vibrant city of Singapore, Sellora emerged as a full-stack development project undertaken by two ambitious minds, eager to make a difference in the way we consume and dispose of our belongings.
                <br />
                <br />
                In the heart of the bustling tech scene, our founders recognized the need for a platform that not only connected people globally but also contributed to the greater good. Thus, Sellora was conceived with a simple yet impactful mission – to empower individuals worldwide to sell their unneeded items and find affordable, high-quality used goods, all while championing environmental sustainability.
                <br />
                <br />
                Sellora goes beyond the conventional buy-sell model; it's a community-driven platform committed to fostering a sense of responsibility towards our planet. We believe in the potential of each item to find a new home, reducing waste and minimizing our ecological footprint. As advocates for a more sustainable lifestyle, we encourage our users to join us in creating a world where pre-loved items are celebrated and cherished.
                <br />
                <br />
                What sets Sellora apart is not just the transactions that occur on our platform, but the stories behind each item. Every product has a history, and Sellora becomes the storyteller, connecting individuals through shared experiences and a shared commitment to a greener, more environmentally friendly world.
                <br />
                <br />
                Whether you're decluttering your home, searching for a unique find, or simply want to contribute to a circular economy, Sellora is your platform of choice. Join us in reshaping the way we view consumerism, one transaction at a time. Together, let's build a community that not only values the things we own but cherishes the planet we call home. Sellora – where sustainability meets second chances, and your items find new stories to tell.
            </p>
        </div>
    </div>
</body>