body {
}

.contact-details {
    color: #DEDEDE;
    font-weight: 100;
    font-family: 'Lucida Sans Typewriter';
}

.contact-media {
    color: #DEDEDE;
    font-size: 0.8em;
    letter-spacing: 8px;
    margin: 4% 0%;
    margin-left: 10px;
}

    .contact-media a {
        text-decoration: none;
        color: #DEDEDE;
        transition: 0.5s;
    }

        .contact-media a:hover {
            color: #fff;
        }