@page "/"

<PageTitle>Home</PageTitle>



<h1 style="font-family:'Microsoft Sans Serif'; font-size:65px"><b>Dear Customers,</b></h1>
<br />
<h5>The Sellora site is currently under maintenance.</h5>

<h5>We seek your kind understanding and apologise for any inconvenience caused.</h5>


@*<SurveyPrompt Title="How is Blazor working for you?" />*@