@page "/"
@inject IJSRuntime js
@implements IDisposable
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication


<PageTitle>Home</PageTitle>

<head>
    <!--FONT AWESOME-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!-- Carousel -->
<body>
    <div class="carousel">
        <button class="carousel-button-left" @onclick="PrevSlide">
            <span class="oi oi-caret-left"></span>
        </button>
        <div class="ad ad--visible">
            <a href="/">
                <img src="/lib/Living.jpg" width="1000" aria-label="Home and Living">
            </a>
        </div>
        <div class="ad">
            <a href="/">
                <img src="/lib/Cars.jpg" width="1000" aria-label="Cars and Vehicles">
            </a>
        </div>
        <div class="ad">
            <a href="/">
                <img src="/lib/Toys.jpg" width="1000" aria-label="Toys and Games">
            </a>
        </div>
        <button class="carousel-button-right" @onclick="NextSlide">
            <span class="oi oi-caret-right"></span>
        </button>
    </div>
</body>

<AuthorizeView>
    <NotAuthorized>

    </NotAuthorized>
    <Authorized>
        <Sellora.Client.Pages.Listings />
    </Authorized>
</AuthorizeView>

@*
    <div class="listings-container">
    <div class="row" style="margin:auto;">
        <div class="col">
            <div class="card listing-card">
                <img src="https://via.placeholder.com/300" class="card-img-top" alt="Listing Image">
                <div class="card-body">
                    <h5 class="card-title">Item 1</h5>
                    <p class="card-text">Description of Item 1.</p>
                    <p class="username">User123</p>
                    <div class="star-rating">&#9733;&#9733;&#9733;&#9733;&#9734;</div>
                    <a href="#" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card listing-card">
                <img src="https://via.placeholder.com/300" class="card-img-top" alt="Listing Image">
                <div class="card-body">
                    <h5 class="card-title">Item 2</h5>
                    <p class="card-text">Description of Item 2.</p>
                    <p class="username">User456</p>
                    <div class="star-rating">&#9733;&#9733;&#9733;&#9733;&#9733;</div>
                    <a href="#" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card listing-card">
                <img src="https://via.placeholder.com/300" class="card-img-top" alt="Listing Image">
                <div class="card-body">
                    <h5 class="card-title">Item 2</h5>
                    <p class="card-text">Description of Item 3.</p>
                    <p class="username">User789</p>
                    <div class="star-rating">&#9733;&#9733;&#9733;&#9733;&#9733;</div>
                    <a href="#" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card listing-card">
                <img src="https://via.placeholder.com/300" class="card-img-top" alt="Listing Image">
                <div class="card-body">
                    <h5 class="card-title">Item 2</h5>
                    <p class="card-text">Description of Item 3.</p>
                    <p class="username">User789</p>
                    <div class="star-rating">&#9733;&#9733;&#9733;&#9733;&#9733;</div>
                    <a href="#" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
*@


@code
{
    private Timer timer;

    protected override void OnInitialized()
    {
        // Set up the timer to run the function every 10 seconds
        timer = new Timer(OnTimerCallback, null, TimeSpan.Zero, TimeSpan.FromSeconds(10));
    }

    private void OnTimerCallback(object state) => NextSlide();

    public void Dispose()
    {
        timer?.Dispose();
    }


    async void NextSlide()
    {
        await js.InvokeVoidAsync("moveToNextSlide");
    }
    async void PrevSlide()
    {
        await js.InvokeVoidAsync("moveToPrevSlide");
    }
}


@*
<h1 style="font-family:'Microsoft Sans Serif'; font-size:65px"><b>Dear Customers,</b></h1>
<br />
<h5>The Sellora site is currently under maintenance.</h5>

<h5>We seek your kind understanding and apologise for any inconvenience caused.</h5>
*@


@*<SurveyPrompt Title="How is Blazor working for you?" />*@