.carousel {
    overflow: hidden;
    max-width: 1000px;
    position: relative;
    margin: auto;
    display: flex;
}

.carousel .ad,
.carousel .ad--hidden {
    display: none;
    flex: 1;
}

.carousel .ad img{
    width: 100%;
    max-width: 1000px;
    height: auto;
}

.carousel .ad--visible {
    display: inline-block;
    flex: 1;
}

.carousel-button-right {
    border: none;
    background-color: #CACACA;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    width: 25px;
    transition: 0.5s;
}

    .carousel-button-right:hover {
        background-color: #A3A3A3;
    }

.carousel-button-left {
    border: none;
    background-color: #CACACA;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    width: 25px;
    transition: 0.5s;
}

    .carousel-button-left:hover {
        background-color: #A3A3A3;
    }


.listings-container {
    max-width: 1300px;
    margin: 20px auto;
    align-content: center;    
}

.listing-card {
    margin-bottom: 20px;
    max-width: 300px;
}

.username {
    font-weight: bold;
}

.star-rating {
    color: gold;
}
