@page "/profile/"

<PageTitle>Profile</PageTitle>

<AuthorizeView>
    <Authorized>
        <body>
            <div class="profile-container">
                <div class="profile-picture">
                    <img src="https://placekitten.com/300/300" alt="Profile Picture">
                </div>
                <h1 class="user-name">@context.User.Identity.Name</h1>
                <p class="user-description">Full Stack Development</p>

                <div class="social-icons">
                    <a href="#" target="_blank">🌐</a>
                    <a href="#" target="_blank">📷</a>
                    <a href="#" target="_blank">🐦</a>
                </div>
                <a href="" class="nice-button">Back</a>
            </div>

        </body>
    </Authorized>
</AuthorizeView>

@code {

}
