@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="row">
    <div style="text-align:center;">
        <h1 style="font-size:3rem;">@ViewData["Title"]</h1>
        <h3 style="color:crimson;">Enter your email.</h3>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div style="margin-top:1rem; padding-bottom:0.5rem;" class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div style="margin:0 auto; width:25rem;">
                <button style="background-color:brown;" type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
