@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
            </form>
        }
        else
        {
            <div style="display:flex;">
                <div>
                    <img src="/logout.gif" style="width:auto;height:180px;">
                </div>
            </div>
            <div style="font-family: 'Microsoft Sans Serif'; font-size: 24px; margin-bottom: 20px; margin-left: 20px;">
                You have successfully logged Out. See you again!
            </div>
            <p>
                <a href="/" style="text-decoration: none; color: #428bca; font-weight: bold; margin-left: 20px;">Back Home</a>
            </p>
        }
    }
</header>
