@* This is the configured 404 page *@
@page "/404"

<PageTitle>Sellora - Resource Not Found!</PageTitle>

<body>
    <div style="display:flex;">
        <div class="number">404
        </div>
        <div style="width:20px;"></div>
        <div>
            <img src="/error.gif" style="width:auto;height:180px;">
        </div>
    </div>
    <div class="message">Oops! The page you are looking for might be in another dimension.</div>

    <!-- Uncomment for error music -->
    @*
    <audio controls autoplay>
        <source src="/Oh_No_An_Error.mp3" type="audio/mpeg">
    </audio>
    *@
    <p><a href="" class="back-link">Go back to safety</a></p>
</body>