@* This is the configured unauthorized page*@
@page "/unauthorized"

<PageTitle>Sellora - UNAUTHORIZED!</PageTitle>

<body>
    <div style="display:flex;">
        <div class="number">
            UNAUTHORIZED
        </div>
    </div>
    <div class="message">I'm sorry user, I'm afraid I can't let you do that.</div>
    <p><a href="" class="back-link">Return.</a></p>
</body>
<div style="display:flex; justify-content:center; padding-top:100px;">
    <img src="/hal9000.png" style="width:auto;height:200px;">
</div>