@*ASPNetr-yanWorks*@
@inject NavigationManager Navigation

<head>
    <!--FONT AWESOME-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet"> 
</head>

<div style="height:50px;">
    <!-- Separator for spacing -->
</div>

<!-- Footer Body Section -->
<body>
    <footer>
        <div class="footer">
            <!-- Non-Functioning Social Functions -->
            <div class="row">
                <div>
                    <a href=""><i class="fa fa-facebook" style="font-size:30px;"></i></a>
                    <a href=""><i class="fa fa-instagram" style="font-size:30px;"></i></a>
                    <a href="https://github.com/int-RyanChong/Sellora.git"><i class="fa fa-github" style="font-size:30px;"></i></a>
                    <a href=""><i class="fa fa-twitter" style="font-size:30px;"></i></a>
                </div>
            </div>

            <!-- Functioning References -->
            <div class="row">
                <ul>
                    <li><a href="contact">Contact us</a></li>
                    <li><a href="staffs">Our Staff</a></li>
                    <li><a href="reports/createreport">File a Report</a></li>
                    <li><a href="termsandconditions">Terms & Conditions</a></li>
                    <li><a href="reviews">Reviews</a></li>
                </ul>
            </div>

            <!-- Copyright -->
            <div class="row">
                <h6>Sellora Copyright © 2023 Sellora - All rights reserved</h6>
                <p style="font-size:smaller; font-family:'Play', sans-serif;">Designed by Ryan - based on Inferno by Mahesh</p>
            </div>
        </div>
    </footer>
</body>

@code{

}
