@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <div class="login-item px-2" style="width:auto">
            <NavLink class="nav-link" href="profile" Match="NavLinkMatch.All" style="width:auto;">
                <span class="oi oi-person" aria-hidden="true"></span> @context.User.Identity?.Name
            </NavLink>
        </div>
        <div class="login-item px-4" style="margin-right: 7px;">
            <NavLink class="nav-link" href="#" @onclick="BeginLogOut" Match="NavLinkMatch.All">
                <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
            </NavLink>
        </div>
        <div class="sell-item px-1">
            <NavLink class="nav-link" href="items/create" Match="NavLinkMatch.All"> SELL
            </NavLink>
        </div>

        @*<a href="authentication/profile">Hello, @context.User.Identity?.Name!</a>
        <button class="nav-link btn btn-link" @onclick="BeginLogOut">Log out</button>*@
    </Authorized>
    <NotAuthorized>
        <div class="login-item px-4">
            <NavLink class="nav-link" href="authentication/register" Match="NavLinkMatch.All">
                <span class="oi oi-person" aria-hidden="true"></span> Register
            </NavLink>
        </div>
        <div class="login-item px-0">
            <NavLink class="nav-link" href="authentication/login" Match="NavLinkMatch.All">
                <span class="oi oi-account-login" aria-hidden="true"></span> Login
            </NavLink>
        </div>

        @*<NavLink class="nav-link" href="authentication/register" Match="NavLinkMatch.All">
            <span class="oi oi-menu" aria-hidden="true"></span> Register
        </NavLink>
        <NavLink class="nav-link" href="authentication/login" Match="NavLinkMatch.All">
            <span class="oi oi-account-login" aria-hidden="true"></span> Login
        </NavLink>*@

        @*<a href="authentication/register">Register</a>
        <a href="authentication/login">Log in</a>*@
    </NotAuthorized>
</AuthorizeView>

@code{
    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
