@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar" style="height:100%;">
        <NavMenu />
    </div>
    
    <main>
        <div class="top-row px-0"> 
            <div class="top-cat px-0 auth">
                <div class="cat-item px-0">
                    <NavLink class="nav-link" href="/">
                        <b>Fashion</b>
                    </NavLink>
                </div>
                <div class="cat-item px-0">
                    <NavLink class="nav-link" href="/">
                        <b>Luxury</b>
                    </NavLink>
                </div>
                <div class="cat-item px-0">
                    <NavLink class="nav-link" href="/">
                        <b>Electronics</b>
                    </NavLink>
                </div>
                <div class="cat-item px-0">
                    <NavLink class="nav-link" href="/">
                        <b>Cars</b>
                    </NavLink>
                </div>
                <div class="cat-item px-0">
                    <NavLink class="nav-link" href="/">
                        <b>Services</b>
                    </NavLink>
                </div>


                @* "About" Section - removed cause we don't need it*@
                @*<div class="main-item px-0">
                <NavLink class="nav-link" href="https://docs.microsoft.com/aspnet/">
                <span class="oi oi-person" aria-hidden="true"></span> About
                </NavLink>
                </div>*@

            </div>
            <div class="top-login px-0 auth">
                @* LoginDisplay is the general top bar layout, depending on the authorisation of the user.*@
                <LoginDisplay />
            </div>
        </div>
        @* Removed Temporarily - Pending Move to Index.razor (Landing Page)
        <div class="searchbar">
        <style>
        input[type=text], select {
        width: 100%;
        box-sizing: border-box;
        border: none;
        font-size: 16px;
        background-color: white;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 20px;
        }
        </style>
        <form>
        <input type="text" name="search" placeholder="Search..">
        </form>
        </div>
        *@
        
        <article class="content">
            @Body
        </article>
    </main>
</div>
