@inherits LayoutComponentBase

<!-- This razor file describes the main layout / overlay of the page -->
<div class="page">

    <!-- This contains the sidebar / navmenu -->
    <div class="sidebar" style="height:100%;">
        <NavMenu />
    </div>
    
    <!-- This contains the 'topbar' -->
    <main>
        <div style="min-height:75vh;">
            <div class="top-row px-0">
                <div class="top-cat px-0 auth">

                    <!-- Below are links to various categories -->
                    <div class="cat-item px-0">
                        <NavLink class="nav-link" href="/listings/5">
                            <b>Fashion</b>
                        </NavLink>
                    </div>
                    <div class="cat-item px-0">
                        <NavLink class="nav-link" href="/listings/6">
                            <b>Luxury</b>
                        </NavLink>
                    </div>
                    <div class="cat-item px-0">
                        <NavLink class="nav-link" href="/listings/4">
                            <b>Electronics</b>
                        </NavLink>
                    </div>
                    <div class="cat-item px-0">
                        <NavLink class="nav-link" href="/listings/1">
                            <b>Cars</b>
                        </NavLink>
                    </div>
                    <div class="cat-item px-0">
                        <NavLink class="nav-link" href="/listings/2">
                            <b>Services</b>
                        </NavLink>
                    </div>
                </div>

                <!-- This contains the administrative part of the topbar (login, register, logout) -->
                <div class="top-login px-0 auth">
                    <LoginDisplay />
                </div>
            </div>

            <!-- This contains the content of the current page -->
            <article class="content">
                @Body
            </article>
        </div>

        <!-- The Footer displays references and links -->
        <Footer />
    </main>
</div>

@* Removed Temporarily - Pending Move to Index.razor (Landing Page)
            <div class="searchbar">
            <style>
            input[type=text], select {
            width: 100%;
            box-sizing: border-box;
            border: none;
            font-size: 16px;
            background-color: white;
            background-position: 10px 10px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 20px;
            }
            </style>
            <form>
            <input type="text" name="search" placeholder="Search..">
            </form>
            </div>
            *@