<!-- This contains the top of the navmenu/sidebar, it features the Sellora Logo -->
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" style="padding-top:3px;" href="/">S E L L O R A</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<!-- Authorisation Section: This changes depending on the role level of the user -->
<AuthorizeView Roles="Administrator">
    <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="about" Match="NavLinkMatch.All">
                    About
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="items" Match="NavLinkMatch.All">
                    Items
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="users" Match="NavLinkMatch.All">
                    Users
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="categories" Match="NavLinkMatch.All">
                    Categories
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="saletransactions" Match="NavLinkMatch.All">
                    Sales
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="swaptransactions" Match="NavLinkMatch.All">
                    Swaps
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="reviews" Match="NavLinkMatch.All">
                    Reviews
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="reports" Match="NavLinkMatch.All">
                    Reports
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="staffs" Match="NavLinkMatch.All">
                    Staff
                </NavLink>
            </div>
        </nav>
    </div>
</AuthorizeView>
<AuthorizeView Roles="User">
    <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="about" Match="NavLinkMatch.All">
                    About
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="listings" Match="NavLinkMatch.All">
                    Browse Items
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="items" Match="NavLinkMatch.All">
                    Manage Items
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="categorynav" Match="NavLinkMatch.All">
                    Categories
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="users" Match="NavLinkMatch.All">
                    View Users
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="saletransactions" Match="NavLinkMatch.All">
                    View Sales
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="swaptransactions" Match="NavLinkMatch.All">
                    View Swaps
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="reviews" Match="NavLinkMatch.All">
                    View Reviews
                </NavLink>
            </div>
        </nav>
    </div>
</AuthorizeView>
<AuthorizeView>
    <NotAuthorized>
        <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
            <nav class="flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="about" Match="NavLinkMatch.All">
                        About
                    </NavLink>
                </div>
            </nav>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    // Flag to determine whether the navigation menu is collapsed or not
    private bool collapseNavMenu = true;

    // Property to dynamically set the CSS class for the navigation menu based on its collapsed state
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    // Method to toggle the state of the navigation menu between collapsed and expanded
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

