@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@*This is the main top aligning navigation bar - features the SELLORA logo*@
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">S E L L O R A</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<AuthorizeView Roles="Administrator">
    <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="about" Match="NavLinkMatch.All">
                    About
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="items" Match="NavLinkMatch.All">
                    Items
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="users" Match="NavLinkMatch.All">
                    Users
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="categories" Match="NavLinkMatch.All">
                    Categories
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="saletransactions" Match="NavLinkMatch.All">
                    Sales
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="swaptransactions" Match="NavLinkMatch.All">
                    Swaps
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="reviews" Match="NavLinkMatch.All">
                    Reviews
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="reports" Match="NavLinkMatch.All">
                    Reports
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="staffs" Match="NavLinkMatch.All">
                    Staff
                </NavLink>
            </div>
        </nav>
    </div>
</AuthorizeView>
<AuthorizeView Roles="User">
    <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="about" Match="NavLinkMatch.All">
                    About
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="items" Match="NavLinkMatch.All">
                    Browse Items
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="users" Match="NavLinkMatch.All">
                    View Users
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="categories" Match="NavLinkMatch.All">
                    Categories
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="saletransactions" Match="NavLinkMatch.All">
                    Sales
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="swaptransactions" Match="NavLinkMatch.All">
                    Swaps
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="reviews" Match="NavLinkMatch.All">
                    View Reviews
                </NavLink>
            </div>
        </nav>
    </div>
</AuthorizeView>

<AuthorizeView>
    <NotAuthorized>
        <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
            <nav class="flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="about" Match="NavLinkMatch.All">
                        About
                    </NavLink>
                </div>
            </nav>
        </div>
    </NotAuthorized>
</AuthorizeView>

@*These are navigation buttons to the respective pages associated with SELLORA*@

@*This is the c# code section that allows the navigation bars to function*@

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

