@*ASPNetr-yanWorks*@
@page "/reports/edit/{id:int}"
@implements IDisposable
@inject HttpClient _client
@inject NavigationManager _navManager
@inject HttpInterceptorService _interceptor
@attribute [Authorize(Roles = "Administrator")]

<!-- Page Title -->
<PageTitle>Editing Report @report.Id</PageTitle>

<!-- Topbar with the title and a back-to-list button -->
<div class="report-topbar">
    <h2 class="report-title">Edit Report with ID: @report.Id</h2>
    <BackToList Target="reports" />
</div>

<div style="border-bottom:solid black 1px; padding-top:3px; margin-bottom:10px;">
    <!-- Separator for spacing -->
</div>

<!-- This Generates a Report Form Component with Updating Parameters -->
<ReportFormComponent ButtonText="Update" OnValidSubmit="EditReport" report="report"/>

@code {
    // Parameter for receiving the report ID from the URL
    [Parameter] public int id { get; set; }

    // An instance of the Report class to store report information
    Report? report = new Report();

    // This runs asynchronously when the component/page is initialised
    protected async override Task OnInitializedAsync()
    {
        // Initialises the interceptor module
        // This monitors HTTP Events for Global Error Handling
        _interceptor.MonitorEvent();
    }

    // This runs asynchronously when the parameters are initialised
    protected async override Task OnParametersSetAsync()
    {
        // This fetches data from Server Endpoints using HttpClient
        report = await _client.GetFromJsonAsync<Report>($"{Endpoints.ReportsEndpoint}/{id}");
    }

    // Method to Update a Report, this will navigate users back to the reports page when complete
    async Task EditReport()
    {
        // Send a PUT request to update the report on the server
        await _client.PutAsJsonAsync($"{Endpoints.ReportsEndpoint}/{id}", report);

        // Navigate back to the reports page after successful update
        _navManager.NavigateTo("/reports/");
    }

    // Disposes of resources when the component is disposed
    public void Dispose()
    {
        // This disposes of global error handling events
        _interceptor.DisposeEvent();
    }
}
