@*ASPNetr-yanWorks*@
@page "/contact/"

<!-- Page Title -->
<PageTitle>Contact Us</PageTitle>

<head>
    <!--FONT AWESOME-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
</head>

<!-- Contacts Section -->
<div style="font-family:'Microsoft Sans Serif'; height:80vh;">
    <div style="display:flex; height:10vh; align-items:center; justify-content:center; margin-bottom:1vh;">
        <h2 style="font-size:5.5vh; font-weight:bold;">Contact Us</h2>
    </div>
    <div style="display:flex; height:48vh;">
        <div style="width:50%; background-color:#CB3838; border-radius:30px; margin:10px; height:65vh;">
            <div style="margin:6vh; margin-top:4vh; color:white; text-align:center;">
                <h2 style="font-weight:bold; letter-spacing:1px;">Site Enquiries</h2>
                <div style="margin: 3vh;">
                    <h5 style="letter-spacing:1px;">Chief Operating Officer</h5>
                    <h6 class="contact-details">Chloe Chang</h6>
                    <h6 class="contact-details">Chloe_Ch@Sellora.com.sg</h6>
                    <h6 class="contact-details">91234567</h6>
                    <div class="contact-media">
                        <a href=""><i class="fa fa-facebook" style="font-size:30px;"></i></a>
                        <a href=""><i class="fa fa-instagram" style="font-size:30px;"></i></a>
                        <a href=""><i class="fa fa-twitter" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div style="margin: 6vh;">
                    <h5 style="letter-spacing:1px;">Chief Marketing Officer</h5>
                    <h6 class="contact-details">Anastasia Ren</h6>
                    <h6 class="contact-details">Ana_R@Sellora.com.sg</h6>
                    <h6 class="contact-details">98765432</h6>
                    <div class="contact-media">
                        <a href=""><i class="fa fa-facebook" style="font-size:30px;"></i></a>
                        <a href=""><i class="fa fa-instagram" style="font-size:30px;"></i></a>
                        <a href=""><i class="fa fa-twitter" style="font-size:30px;"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div style="width:50%; background-color:#CB3838; border-radius:30px;  margin:10px; height:65vh;">
            <div style="margin:6vh; margin-top:4vh; color:white; text-align:center;">
                <h2 style="font-weight:bold; letter-spacing:1px;">Report an issue</h2>
                <div style="margin: 3vh;">
                    <h5 style="letter-spacing:1px;">Lead Developer</h5>
                    <h6 class="contact-details">Ryan Chong Jay Chin</h6>
                    <h6 class="contact-details">2102197G@student.tp.edu.sg</h6>
                    <h6 class="contact-details">99991111</h6>
                    <div class="contact-media">
                        <a href=""><i class="fa fa-facebook" style="font-size:30px;"></i></a>
                        <a href=""><i class="fa fa-instagram" style="font-size:30px;"></i></a>
                        <a href="https://github.com/int-RyanChong"><i class="fa fa-github" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div style="margin:6vh;">
                    <h5 style="letter-spacing:1px;">Lead Developer</h5>
                    <h6 class="contact-details">Lucas Do</h6>
                    <h6 class="contact-details">2203567I@student.tp.edu.sg</h6>
                    <h6 class="contact-details">99992222</h6>
                    <div class="contact-media">
                        <a href=""><i class="fa fa-facebook" style="font-size:30px;"></i></a>
                        <a href=""><i class="fa fa-instagram" style="font-size:30px;"></i></a>
                        <a href="https://github.com/TobyDo1"><i class="fa fa-github" style="font-size:30px;"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

