body {
}

.contact-details {
    color: #DEDEDE;
    font-weight: 100;
    font-family: 'Lucida Sans Typewriter';
}

.contact-media {
    color: #DEDEDE;
    font-size: 0.8em;
    letter-spacing: 8px;
    margin: 4% 0%;
    margin-left: 10px;
}

    .contact-media a {
        text-decoration: none;
        color: #DEDEDE;
        transition: 0.5s;
    }

        .contact-media a:hover {
            color: #fff;
        }

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 10px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.submit-button {
    background-color: #AFAFAF;
    color: white;
    font-family: 'Microsoft Sans Serif';
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.5s;
    width: 100%;
    letter-spacing: 1px;
    margin-top: 10px;
}

    .submit-button:hover {
        background-color: white;
        color: black;
    }

.contact-form-outercontainer {
    margin: 10px;
    margin-top: 50px;
    height: 650px;
}

.contact-form-innercontainer {
    border-radius: 30px;
    background-color: #CB3838;
    padding: 50px;
    font-family: 'Microsoft Sans Serif';
    font-weight: bold;
    letter-spacing: 0.5px;
    color: white;
}