input[type=text], select {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    background-color: #E1E1E1;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 20px;
}

.listingpage-title {
    margin-top: 20px;
    font-weight: bold;
    font-family: 'Microsoft Sans Serif';
    letter-spacing: 1px;
    flex: 1;
}

.listingpage-searchbar-section {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listingpage-searchbar-container {
    width: 100%;
    margin-left: 5.2vh;
    margin-right: 5.2vh;
    display: flex;
}

.listingpage-searchbar-searchbar-container {
    flex: auto;
}

.listingpage-searchbar-button-container {
    flex: auto;
    max-width: 100px;
    margin-left: 15px;
}

.listingpage-topbar {
    margin: 0.5vh 2vh;
    margin-bottom: 0;
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
}

.listingpage-alert {
    font-family: 'Microsoft Sans Serif';
    flex: 1;
}

.listingpage-alertbox {
    min-width:100%;
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
}

.listing-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listing-container {
    margin: 3vh;
    margin-top: 1vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 2000px;
    width:100%;
    height: auto;
}

.listing-box {
    background-color: white;
    flex: 1;
    margin: 1%;
    margin-bottom: 0px;
    min-width: 23%;
    max-width: 23%;
    height: auto;
    border-radius: 12px;
    transition: 0.2s;
    /*box-shadow: none;*/
}

    .listing-box:hover {
        background-color: #E9E9E9;
        /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
    }

.listingitem-inner {
    margin: 1.5vh;
    color: black;
}

.listingitem-content {
    margin: 0.2vh;
    margin-top: 1vh;
}

.listingitem-title {
    font-family: 'Microsoft Sans Serif';
    font-weight: bold;
    font-size: 140%;
}

.listingitem-price {
    font-family: 'Microsoft Sans Serif';
    font-weight: bolder;
    font-size: 130%;
    letter-spacing: 1px;
    margin-top: -4px;
}

.listing-condition {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Droid Sans,Helvetica Neue,sans-serif;
    font-weight: 600;
    font-size: 110%;
    margin-top: -15px;
    color: gray;
}

.listingitem-username {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 85%;
    margin-left: 0.3vh;
    margin-bottom: 1px;
}

.listingitem-likescontainer {
    display: flex;
    margin-top: 45px;
}
