body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.profile-container {
    background-color: #fff;
    min-width: 100%;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.profile-picture {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 15px;
}

    .profile-picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.user-name {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.user-description {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

    .social-icons a {
        display: inline-block;
        margin: 0 10px;
        color: #333;
        text-decoration: none;
        font-size: 24px;
    }

.nice-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    color: #fff;
    background-color: #7c0000;
    transition: background-color 0.3s, color 0.3s;
    width: 100px;
}

    .nice-button:hover {
        background-color: #b94444;
        color: #fff;
    }